<h2>welcome to the backed panel</h2>
    <div class="container card-body">
       <form action="/api/routes/dashboard/data" method="POST" class="form-group">
           <label for="email">Email</label>
           <label for="number" class="number">Phone Number</label>
           <div class="form">
            <input type="email" name="email">
            <input type="text" name="pnumber" >
           </div>
           <div class="textare">
            <label for="summary">About Me</label>
            <textarea name="summary" cols="40" rows="10"></textarea>
           </div>
           <button class="btn btn-primary btn-lg mt-lg-2 " type="submit">Submit</button>  
       </form>
       <div>
        <form action="/api/routes/logout" method="GET">
            <button type="submit" class="btn btn-primary btn-lg">Logout</button>
        </form>
       </div>
    </div>