<h1>Login to proceed</h1>
    <div class="parent">
        <div class="content">
            <form action="">
                <label for="email">email</label>
                <input type="email" name="email">
                <label for="">Password</label>
                <input type="password" name="password">
                <button class="btn btn-primary mt-3" type="submit">Login</button>
            </form>
    
       </div>
    </div>