<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rodger Kumwanje">
    <meta name="description" content="Rodger kumwanje Portfolio">
    <meta name="keywords" content="Rodger, Kumwanje, Elliot, rodgerdev, rodger.dev, Rodger.Codes,rodger.codes, rodgercodes, rodger_codes, Rodger_Codes">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Backend panel</title>
</head>
<body>
    {{body}}
</body>
</html>